

.container1 {
  position: relative;
  width: 264px;
  /* width: 400px; */
  height: 114.4px;
}

.container1 ::before{
  content: '';
  width: 100%;
  height: 0;
  padding-bottom: 44%;
}
.container2 {
  width: 100%;
  height: 100%;
  border-radius: 57.2px;
  border: solid #879495 3px;
  color: #DB6613;
  background:repeating-linear-gradient(#101010 0px,#101010 10px,#202020 10px, #202020 15px);
}

.button-img {
  width: 89.33px;
  height: 89.33px;
  border-radius: 50%;
  position: absolute;
  margin: 0px;
  top: 14.535px;
  right: 12.535px;
  /* background: #F0F0F0; */
  background: linear-gradient(45deg,#EAEDED 0,#fff 100%)
}

.label-area {
  display: flex;
  align-items: center;
  height: 100%;
}

.label {
  position: absolute;
  left: 40px;
  width: 110px;
  word-break: break-word;
}